<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuransiServlet</servlet-name>
        <servlet-class>Controller.AsuransiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmServlet</servlet-name>
        <servlet-class>controller.AdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranServlet</servlet-name>
        <servlet-class>controller.AsuransiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahDeleteServlet</servlet-name>
        <servlet-class>controllerdelete.NasabahServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahUpdateServlet</servlet-name>
        <servlet-class>controllerupdate.NasabahServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateNasabah</servlet-name>
        <servlet-class>controllerupdate.ProsesUpdateNasabah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>controllerdelete.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <servlet-class>controllerupdate.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateAdmin</servlet-name>
        <servlet-class>controllerupdate.ProsesUpdateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahAutotID</servlet-name>
        <servlet-class>controllerinsert.NasabahAutotID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranUpdateServlet</servlet-name>
        <servlet-class>controllerupdate.AsuranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateAsuran</servlet-name>
        <servlet-class>controllerupdate.ProsesUpdateAsuran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranDeleteServlet</servlet-name>
        <servlet-class>controllerdelete.AsuranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranAutoID</servlet-name>
        <servlet-class>controllerinsert.AsuranAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranInsertServlet</servlet-name>
        <servlet-class>controllerinsert.AsuranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahInsertServlet</servlet-name>
        <servlet-class>controllerinsert.NasabahServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAutoID</servlet-name>
        <servlet-class>controllerinsert.AdminAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInsertServlet</servlet-name>
        <servlet-class>controllerinsert.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BayarAutoID</servlet-name>
        <servlet-class>controllerinsert.BayarAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BayarServlet</servlet-name>
        <servlet-class>controllerinsert.BayarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimServlet</servlet-name>
        <servlet-class>controller.KlaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimInsertServlet</servlet-name>
        <servlet-class>controllerinsert.KlaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimAutotID</servlet-name>
        <servlet-class>controllerinsert.KlaimAutotID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuransiServlet</servlet-name>
        <url-pattern>/asuransiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmServlet</servlet-name>
        <url-pattern>/admServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranServlet</servlet-name>
        <url-pattern>/asuranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahDeleteServlet</servlet-name>
        <url-pattern>/nasabahDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahUpdateServlet</servlet-name>
        <url-pattern>/nasabahUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateNasabah</servlet-name>
        <url-pattern>/prosesUpdateNasabah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/adminDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <url-pattern>/adminUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateAdmin</servlet-name>
        <url-pattern>/prosesUpdateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahAutotID</servlet-name>
        <url-pattern>/nasabahAutotID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranUpdateServlet</servlet-name>
        <url-pattern>/asuranUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateAsuran</servlet-name>
        <url-pattern>/prosesUpdateAsuran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranDeleteServlet</servlet-name>
        <url-pattern>/asuranDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranAutoID</servlet-name>
        <url-pattern>/asuranAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranInsertServlet</servlet-name>
        <url-pattern>/asuranInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahInsertServlet</servlet-name>
        <url-pattern>/nasabahInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAutoID</servlet-name>
        <url-pattern>/adminAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInsertServlet</servlet-name>
        <url-pattern>/adminInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayarAutoID</servlet-name>
        <url-pattern>/bayarAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayarServlet</servlet-name>
        <url-pattern>/bayarInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimServlet</servlet-name>
        <url-pattern>/klaimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimInsertServlet</servlet-name>
        <url-pattern>/klaimInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimAutotID</servlet-name>
        <url-pattern>/klaimAutotID</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
