<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuransiServlet</servlet-name>
        <servlet-class>Controller.AsuransiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmServlet</servlet-name>
        <servlet-class>controller.AdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranServlet</servlet-name>
        <servlet-class>controller.AsuransiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahDeleteServlet</servlet-name>
        <servlet-class>controllerdelete.NasabahServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahUpdateServlet</servlet-name>
        <servlet-class>controllerupdate.NasabahServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateNasabah</servlet-name>
        <servlet-class>controllerupdate.ProsesUpdateNasabah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <servlet-class>controllerupdate.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateAdmin</servlet-name>
        <servlet-class>controllerupdate.ProsesUpdateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahAutotID</servlet-name>
        <servlet-class>controllerinsert.NasabahAutotID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranUpdateServlet</servlet-name>
        <servlet-class>controllerupdate.AsuranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateAsuran</servlet-name>
        <servlet-class>controllerupdate.ProsesUpdateAsuran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranDeleteServlet</servlet-name>
        <servlet-class>controllerdelete.AsuranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranAutoID</servlet-name>
        <servlet-class>controllerinsert.AsuranAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsuranInsertServlet</servlet-name>
        <servlet-class>controllerinsert.AsuranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahInsertServlet</servlet-name>
        <servlet-class>controllerinsert.NasabahServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAutoID</servlet-name>
        <servlet-class>controllerinsert.AdminAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInsertServlet</servlet-name>
        <servlet-class>controllerinsert.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BayarAutoID</servlet-name>
        <servlet-class>controllerinsert.BayarAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BayarServlet</servlet-name>
        <servlet-class>controllerinsert.BayarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimServlet</servlet-name>
        <servlet-class>controller.KlaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimInsertServlet</servlet-name>
        <servlet-class>controllerinsert.KlaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimAutotID</servlet-name>
        <servlet-class>controllerinsert.KlaimAutotID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesLogin</servlet-name>
        <servlet-class>login.ProsesLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmDeleteServlet</servlet-name>
        <servlet-class>controllerdelete.AdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportNasabah</servlet-name>
        <servlet-class>controllerreport.ReportNasabah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportKlaim</servlet-name>
        <servlet-class>controllerreport.ReportKlaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportTransaksi</servlet-name>
        <servlet-class>controllerreport.ReportTransaksi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsessLogin</servlet-name>
        <servlet-class>controllerlogin.ProsesLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailNasServlet</servlet-name>
        <servlet-class>controller.DetailNasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetNasAutoID</servlet-name>
        <servlet-class>controllerinsert.DetNasAutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetNasServlet</servlet-name>
        <servlet-class>controllerinsert.DetNasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesLogout</servlet-name>
        <servlet-class>controllerlogin.ProsesLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDetNasabah</servlet-name>
        <servlet-class>controllerreport.ReportDetNasabah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNasServlet</servlet-name>
        <servlet-class>controller.ViewNasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetNasabahmanager</servlet-name>
        <servlet-class>controllermanager.DetNasabahmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimManager</servlet-name>
        <servlet-class>controllermanager.KlaimManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahManager</servlet-name>
        <servlet-class>controllermanager.NasabahManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransaksiManager</servlet-name>
        <servlet-class>controllermanager.TransaksiManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasabahPegawai</servlet-name>
        <servlet-class>controllerpegawai.NasabahPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailNasPegawai</servlet-name>
        <servlet-class>controllerpegawai.DetailNasPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimPegawai</servlet-name>
        <servlet-class>controllerpegawai.KlaimPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransaksiPegawai</servlet-name>
        <servlet-class>controllerpegawai.TransaksiPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNasPegawai</servlet-name>
        <servlet-class>controllerpegawai.ViewNasPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BayarIdPegawai</servlet-name>
        <servlet-class>controllerpegawai.BayarIdPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BayarPegawai</servlet-name>
        <servlet-class>controllerpegawai.BayarPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetnasIdPegawai</servlet-name>
        <servlet-class>controllerpegawai.DetnasIdPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetnasPegawai</servlet-name>
        <servlet-class>controllerpegawai.DetnasPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimIdPegawai</servlet-name>
        <servlet-class>controllerpegawai.KlaimIdPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlaimPegawaiIn</servlet-name>
        <servlet-class>controllerpegawai.KlaimPegawaiIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasIdPegawai</servlet-name>
        <servlet-class>controllerpegawai.NasIdPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasPegawai</servlet-name>
        <servlet-class>controllerpegawai.NasPegawai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasPegawaiUp</servlet-name>
        <servlet-class>controllerpegawai.NasPegawaiUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateNas</servlet-name>
        <servlet-class>controllerpegawai.ProsesUpdateNas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNasHistoryServlet</servlet-name>
        <servlet-class>controller.ViewNasHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryPegawai</servlet-name>
        <servlet-class>controllerpegawai.ViewHistoryPegawai</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuransiServlet</servlet-name>
        <url-pattern>/asuransiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmServlet</servlet-name>
        <url-pattern>/admServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranServlet</servlet-name>
        <url-pattern>/asuranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahDeleteServlet</servlet-name>
        <url-pattern>/nasabahDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahUpdateServlet</servlet-name>
        <url-pattern>/nasabahUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateNasabah</servlet-name>
        <url-pattern>/prosesUpdateNasabah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <url-pattern>/adminUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateAdmin</servlet-name>
        <url-pattern>/prosesUpdateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahAutotID</servlet-name>
        <url-pattern>/nasabahAutotID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranUpdateServlet</servlet-name>
        <url-pattern>/asuranUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateAsuran</servlet-name>
        <url-pattern>/prosesUpdateAsuran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranDeleteServlet</servlet-name>
        <url-pattern>/asuranDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranAutoID</servlet-name>
        <url-pattern>/asuranAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsuranInsertServlet</servlet-name>
        <url-pattern>/asuranInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahInsertServlet</servlet-name>
        <url-pattern>/nasabahInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAutoID</servlet-name>
        <url-pattern>/adminAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInsertServlet</servlet-name>
        <url-pattern>/adminInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayarAutoID</servlet-name>
        <url-pattern>/bayarAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayarServlet</servlet-name>
        <url-pattern>/bayarInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimServlet</servlet-name>
        <url-pattern>/klaimServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimInsertServlet</servlet-name>
        <url-pattern>/klaimInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimAutotID</servlet-name>
        <url-pattern>/klaimAutotID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesLogin</servlet-name>
        <url-pattern>/prosesLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmDeleteServlet</servlet-name>
        <url-pattern>/admDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportNasabah</servlet-name>
        <url-pattern>/reportNasabah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportKlaim</servlet-name>
        <url-pattern>/reportKlaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportTransaksi</servlet-name>
        <url-pattern>/reportTransaksi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsessLogin</servlet-name>
        <url-pattern>/prosessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailNasServlet</servlet-name>
        <url-pattern>/detailNasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetNasAutoID</servlet-name>
        <url-pattern>/detNasAutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetNasServlet</servlet-name>
        <url-pattern>/detNasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesLogout</servlet-name>
        <url-pattern>/prosesLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDetNasabah</servlet-name>
        <url-pattern>/reportDetNasabah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNasServlet</servlet-name>
        <url-pattern>/viewNasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetNasabahmanager</servlet-name>
        <url-pattern>/detNasabahmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimManager</servlet-name>
        <url-pattern>/klaimManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahManager</servlet-name>
        <url-pattern>/nasabahManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransaksiManager</servlet-name>
        <url-pattern>/transaksiManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasabahPegawai</servlet-name>
        <url-pattern>/nasabahPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailNasPegawai</servlet-name>
        <url-pattern>/detailNasPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimPegawai</servlet-name>
        <url-pattern>/klaimPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransaksiPegawai</servlet-name>
        <url-pattern>/transaksiPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNasPegawai</servlet-name>
        <url-pattern>/viewNasPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayarIdPegawai</servlet-name>
        <url-pattern>/bayarIdPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayarPegawai</servlet-name>
        <url-pattern>/bayarPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetnasIdPegawai</servlet-name>
        <url-pattern>/detnasIdPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetnasPegawai</servlet-name>
        <url-pattern>/detnasPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimIdPegawai</servlet-name>
        <url-pattern>/klaimIdPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlaimPegawaiIn</servlet-name>
        <url-pattern>/klaimPegawaiIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasIdPegawai</servlet-name>
        <url-pattern>/nasIdPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasPegawai</servlet-name>
        <url-pattern>/nasPegawai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasPegawaiUp</servlet-name>
        <url-pattern>/nasPegawaiUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateNas</servlet-name>
        <url-pattern>/prosesUpdateNas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNasHistoryServlet</servlet-name>
        <url-pattern>/viewNasHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryPegawai</servlet-name>
        <url-pattern>/viewHistoryPegawai</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>log-in.jsp</welcome-file>
    </welcome-file-list>
</web-app>
